body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-style: normal;
  scrollbar-gutter: stable;
}

html {
  scrollbar-gutter: stable;
}

a {
  all: unset;
}

ul {
  all: unset;
}

li {
  all: unset;
}

button {
  all: unset;
}

#root {
  padding: 24px;
}
